/CURSO DIO/TYPESCRIPT/node_modules/*
/CURSO DIO/Projeto_Appteste/node_modules/*
/CURSO DIO/TYPESCRIPT/.cache/*
/CURSO DIO/TYPESCRIPT/dist/*
/CURSO DIO/primeiro_app_reactjs/node_modules/*
/CURSO DIO/projeto_teste2_reactjs/node_modules/*
/design-patterns-typescript/node_modules/*
.vescode/
REACTNATIVE/fab-button
/CURSO DIO/BootCamps/TQI Fullstack Developer/menu-hambuerguer/DIO-animations-aulas-master


