.robertin {
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: black;
	color: red;
	
	
}

.robertin h2 {
	background-color: red;
}
.icaro2 {
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: blue;

}
.icaro3 {
	align-items: center;
	text-align: center;
	justify-content: center; 
 }

 .center{
	align-items: center;
	text-align: center;
	justify-content: center;
 }